version: '3.8'
services:
    app:
        container_name: prescientia-app
        build:
            context: .
            dockerfile: ./docker/Dockerfile
        ports:
            - "8000:80"
        volumes:
            - ./docker/storage:/app/storage/app
            - ./docker/logs:/app/storage/logs
            # for local development
            - ./:/app
        networks:
            - compass_network
    postgres:
        image: postgres:15-alpine
        container_name: prescientia-db
        environment:
            POSTGRES_USER: prescientia
            POSTGRES_DB: prescientia
            POSTGRES_PASSWORD: ProjectManagement@2024
            TZ: Asia/Jakarta  # Set default timezone
            PGTZ: Asia/Jakarta # Set PostgreSQL internal timezone
        ports:
            - "5432:5432"
        volumes:
            - /var/data/pgsql:/var/lib/postgresql/data
        restart: always
        networks:
            - prescientia_network


networks:
  prescientia_network:
    driver: bridge